# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.depend
*.cbp
*.layout
.vscode
.exe

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Test code
target
.vertx